[submodule "third_party/common_cpp"]
	path = third_party/common_cpp
	url = git@github.com:ThomasVy/CommonCppHelpers.git
[submodule "external/common"]
	path = external/common
	url = git@github.com:ThomasVy/CommonCppHelpers.git
